.content{
    white-space: pre-wrap;
}

.title {
    font-weight: bold;
    font-size: 32px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}

h2 {
    font-size: 21px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

#htmlText img{
    margin-top: 30px;
    margin-bottom: 30px;
}