---
import Layout from '~/layouts/LandingLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Header from '~/components/widgets/Header.astro';
import { headerData } from '~/navigation';
import Event from '../components/Event.astro';
import Publication from './publication.astro';
const metadata = {
  title: 'Event',
};
const events = [
  {
    imageSrc:'/images/waic.png',
    title:'International Forum on Frontier Technologies in AI Safety',
    time:'Jul 6 Sat, 2024',
    publication:'WAIC(World AI Conference & High-Level Meeting on Global AI Governance) 2024',
    location:'Shanghai World Expo Center,Shanghai,China',
    link:'https://online2024.worldaic.com.cn/forumdetail?uuid=0a646041de0d4527a38f96de4ed6ee19'
  },{
  imageSrc: '/images/mfm.png',
  title: 'ICML TiFA Workshop',
  time:'Jul 27 Sat, 2024',
  publication: 'ICML(International Conference on Machine Learning) 2024',
  location:'Vienna, Austria',
  link:'https://icml-tifa.github.io/'
}];
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->
  <Fragment slot="header">
    <Header {...headerData} isSticky showToggleTheme />
  </Fragment>
  <div style="display: flex;justify-content:center;margin:20px auto;">
    <Event events={events} />
  </div>
  
</Layout>
