---
import '../../styles/tabs.css';
---

<div class="flex flex-row">
  <div class="tab active">
    <button class="tabs-btn">description</button>
  </div>
  <div class="tab">
    <button class="tabs-btn">Example Data</button>
  </div>
  <div class="tab">
    <button class="tabs-btn">Data Link</button>
  </div>
</div>
